.header{
    width: 100%;
    position: absolute;
    height: 44px;
    background-color: #999;
    z-index: 4;
}
*{
    box-sizing: border-box;
}
.body{
    margin: 0;
    padding: 0;
}
.side-nav{
    position: absolute;
    width: 100%;
    background-color: #666;
    height: 100vh;
    z-index: 3;
    padding-top: 44px;
}
.side-nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.side-nav ul li{
    padding: 20px 10px;
    border-bottom: #333 solid 1px;
}

.side-nav ul li a{
    color: #fff;
    text-decoration: none;
}
.side-nav ul li a i{
    color: #333;
}
.main-content{
    padding-top: 44px;
}
@media screen and (min-width: 600px){
    .main-content{
        margin-left: 80px;
    }
    .side-nav{
        width: 80px;
    }
    .side-nav ul li span:nth-child(2){
        display: none;
    }
    .side-nav ul li{
        text-align: center;
    }

    .side-nav ul li i{
        font-size: 26px;;
    }
}
@media screen and (min-width :1000PX){
.side-nav {
    width: 200px;


}
.main-content{
    margin-left: 200px;
}
.side-nav ul li{
    text-align: left;
}
.side-nav ul li span:nth-child(2){
    display:inline;
}
side-nav ul li i{
    font-size: 16px;
}

}
.header img{
    height: 50px;
    width: 80px;
}

