{% extends 'dashbord.html' %}
{% block content %}
    {% load static %}
    <div class="main-content">
        <div class="table">
            <table class="table table-hover table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
                {% for user in users %}
                    <tr>

                        <td>{{ user.user_id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.password }}</td>
                        <td><a href="/edit/{{ user.user_id }}" class="btn btn-primary stretched-link">edit</a>|<a
                                href="/delete/{{ user.user_id }}" class="btn btn-primary stretched-link">delete</a></td>

                    </tr>
                {% endfor %}
            </table>
        </div>


    </div>
{% endblock %}